.results-container {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
  }
  
  .navbar {
    width: 100%;
    background-color: #333333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-sizing: border-box;
  }
  
  .home-icon,
  .diagnosis-icon {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: white;
  }
  
  .home-icon:hover,
  .diagnosis-icon:hover {
    color: goldenrod;
  }
  
  .results-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
  }
  
  .results-card h2,
  .results-card h3 {
    margin: 0;
    text-align: center;
  }
  
  .home-button {
    background-color: white;
    color: black;
    cursor: pointer;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 1.5rem;
    transition: background-color 0.3s ease;
  }
  
  .home-button:hover {
    background-color: green;
  }
  
  .footer {
    background-color: #333333;
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    margin-top: auto;
  }
  